<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
  {% if messages %}
      {% for message in messages %}
          <p class='text-success'>{{message}}</p>
      {% endfor %}
  {% endif %}
  <div class='row bg-primary'>
    <h1 class='d-inline-block col-lg-10 ml-5 text-white'>Hello {{ user.first_name }}!</h1>
    <a class='d-inline-block text-white' href="/logout/">Logout</a>
    <p class='d-inline-block text-white'>||</p>
    <a class='d-inline-block text-white' href="/jobs/new/">New Job</a>
  </div>
  <h4>Everyone's jobs:</h4>
  <table class="table">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Job</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for i in jobs %}
              <tr>
                  <th scope="row">{{i.title}}</th>
                  <td>{{ i.desc }}</td>
                  <td>{{ i.location.location }}</td>
                  <td>
                    <a href="/jobs/{{i.id}}/">View</a>
                    {% if request.session.user_id == i.user.id %}
                      <a href="/jobs/edit/{{i.id}}/">Edit</a>
                      <form action='/remove/' method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='job_remove' value='{{i.id}}'>
                        <input class="btn text-primary" name='remove' type='submit' value="Remove">
                      </form>
                    {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</body>
</html>
